meta(name="viewport" width="1000")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(href="js/jquery.qtip.custom/jquery.qtip.min.css"  rel="stylesheet" type="text/css")
link(href="css/style.css" rel="stylesheet" type="text/css")
script(src="js/jquery-1.11.2.min.js")
script(src="js/jquery.jcarousel.min.js")
script(src="js/jquery.qtip.custom/jquery.qtip.min.js")
script(src="js/init.js")
