@font-face {
    font-family: 'HeliosCond';
    src: url('../fonts/HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HeliosCond-Bold.woff') format('woff'), url('../fonts/HeliosCond-Bold.ttf')  format('truetype'), url('../fonts/HeliosCond-Bold.svg#HeliosCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansPro';
    src: url('../fonts/PFSquareSansPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFSquareSansPro-Bold.woff') format('woff'), url('../fonts/PFSquareSansPro-Bold.ttf')  format('truetype'), url('../fonts/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PFSquareSansPro';
    src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFSquareSansPro-Regular.woff') format('woff'), url('../fonts/PFSquareSansPro-Regular.ttf')  format('truetype'), url('../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
