.slider {

}
    .slider__inner {
        @include content;
    }

        .slider__holder {
            position: relative;
        }

            .slider__controls-prev,
            .slider__controls-next {
                position: absolute;
                z-index: 3;
                top: 0px;
                bottom: 0px;
                margin: auto 0;
                height: 150px;
                width: 60px;
                @include middler;
                text-align: center;

                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 25px;
                    height: 97px;
                }

                &:hover::before {
                    background-position: 0 -97px;
                }
            }

            .slider__controls-prev {
                left: 15px;

                &:before {
                    background: url('../images/slider-arrow-prev.png');
                }
            }

            .slider__controls-next {
                right: 15px;

                &:before {
                    background: url('../images/slider-arrow-next.png');
                }
            }

            .slider__pagination {
                @include cf;
                z-index: 3;
                position: absolute;
                right: 50px;
                bottom: 50px;
            }

                .slider__pagination-item {
                    float: left;
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                    border-radius: 100%;
                    background: #fff;
                    box-sizing: border-box;
                    border: 2px solid #dedede;

                    &:hover {
                        border: 2px solid #d90627;
                    }

                    &._active {
                        border: 3px solid #d90627;
                    }

                    & + & {
                        margin-left: 10px;
                    }
                }



            .slider__carousel {
                overflow: hidden;
            }

                .slider__list {
                    font-size: 0;
                    white-space: nowrap;
                    height: 392px;
                    position: relative;
                }

                    .slider__item {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        white-space: normal;
                        font-size: 14px;
                        height: 100%;
                        width: 100%;
                    }

                        .slider__item-img {
                            height: 100%;
                            background-size: cover;
                        }
